<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="stylesheets/game.css">     
  <title>Stock Ticker Classic</title>  
</head>
<body>
  <%= yield %>
  <!--Javascript-->    
  <script src="javascript/jquery-2.2.0.js"></script> 
  <script src="javascript/game.js"></script>
</body>
</html>
