<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="stylesheets/game.css">     
  <title>Stock Ticker Classic</title>  
</head>
<body>
  <%= yield %>
  <!--Javascript-->    
  
</body>
</html>
